black[typed-ast]==22.8.0;platform_python_implementation == "PyPy"
black==22.3.0;platform_python_implementation != "PyPy"
bumpversion~=0.6.0
flake8~=5.0.4
isort~=5.10.0
pytest-cov~=3.0.0
pytest>=4.6.0
